.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container {
  margin-left: 13%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.cart-container {
  background-color: #ff99004d;
}
@media screen and (max-width: 1100px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    gap: 10px;
  }
}
